body, header, .start {
    display: block;
    margin: 0;
    padding:  0;
}

header {
    background-color: black;
    height: 100px;
    /*margin-top: -22px;*/
    position: fixed;
    width: 100%;
}

.home {
    background-color: gray;
    height: 100vh;
    width: 100%;
}

.logo {
    color: white;
    font-size: 24px;
}

ul {
    display: flex;
    float: right;
    justify-content: space-around;
    list-style-type: none;
    margin-right: 20%;
    width: 30%;
}
li {
    border-color: darkorange;
    border-width: 2px;
    display: block;
    margin: 1%;
    padding: 5px;

}

a{
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}
a:active {
    color: white;
}
