body, header, .start {
    margin: 0;
    padding:  0;
}

body {
    position: absolute;
}

header {
    background-color: #222222;
    height: 100px;
    /*margin-top: -22px;*/
    position: fixed;
    width: 100%;
}

.logo {
    display: block;
    color: white;
    font-size: 24px;
    /*margin: 40px 60px; сдвигает мой ul, из-за флоата, скорее всего, но клиар не помогает. */
}

ul {
    /*не понимаю, как они по центру спозиционировались*/
    display: flex;
    float: right;
    justify-content: space-around;
    list-style-type: none;
    margin-right: 20%;
    width: 30%;
}
li {
    border-color: darkorange;
    border-width: 2px;
    display: block;
    margin: 1%;
    padding: 5px;

}

a{
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}
a:active {
    color: white;
}

.home {
    background-color: black;
    height: 100vh;
    width: 100%;
}

.home-text {
    color: white;
    display: block;
    /*margin-top: 30%;*/
    text-align: center;
}


.about {
    background-color: beige;
    height: 600px;
    width: 100%;
}

.team {
    background-color: black;
    height: 600px;
    width: 100%;
}
