body {
    background-color: white;
    margin: 0;
    padding:  0;
}

header {
    /*top:0  что бы небыло зазора*/
    top: 0;
    background-color: black;
    height: 100px;
    position: fixed;
    width: 100%;
}

.logo {
    display: block;
    color: #c3c3c3;
    font-size: 24px;
}

ul {
    display: flex;
    float: right;
    justify-content: space-around;
    list-style-type: none;
    margin-right: 20%;
    width: 30%;
}
li {
    border-color: #fcac45;
    border-width: 2px;
    display: block;
    margin: 1%;
    padding: 5px;
}

a{
    color: #c3c3c3;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    color: white;
}

.home {
    background-color: #111111;
    /*Добавляю отступ от верха на высоту равную шапке*/
    margin-top: 100px;
    height: 100vh;
    width: 100%;
}

.home-text {
    color: #c3c3c3;
    text-align: center;
}
/*модифицировал а в блочный елемент и используем стии для а как для кнопки*/
.home a {
    display: block;
    background-color: #111111;
    background-image: url("images/arrow.png");
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid #c3c3c3;
    border-radius: 50%;
    /*использую маргин авто для позиционирования по центру но 400рх для вертикали*/
    margin: 400px auto;
    height: 50px;
    width: 50px;
}

.about {
    height: 611px;
    width: 100%;
}

.team {
    background-color: #111111;
    height: 726px;
    width: 100%;
}

.services  {
    height: 736px;
    width: 100%;
}

.clients {
    background-color: #111111;
    height: 520px;
    width: 100%;
}

.portfolio {
    height: 1334px;
    width: 100%;
}

.testimonials {
    background-color: #111111;
    height: 560px;
    width: 100%;
}

.contact {
    height: 836px;
    width: 100%;
}

footer {
    background-color: #222222;
    border-bottom: 2px solid #3f3f3f;
    height: 92px;
    width: 100%;
}